.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bold {
  font-weight: 500;
  font-size: largers;
}

table,
td {
  border: 2px solid black;
}
tr:nth-child(odd) {
  background-color: gray;
}

.flex {
  display: flex;
  flex-direction: column;
  place-items: center;
}
Button {
  padding: 10px;
}
tr {
  text-align: left;
}

.wi2{
  width: 30vw;
}
.wi1{
  width: 15vw;
}
.wi05{
  width: 10vw;
}
